.border {
  border-collapse: collapse;
  border: none;
}

.border td {
  border: 1px solid #FFF;
}

.border tr:first-child td {
  border-top: none;
}

.border tr:last-child td {
  border-bottom: none;
}

.border tr td:first-child {
  border-left: none;
}

.border tr td:last-child {
  border-right: none;
}